$color-bg: #161730;
$color-bg-additional: #212246;
$color-bg-accent: #0695ff;

$color-text-main: #fff;
$color-text-additional: #838c9e;
$color-text-accent: #5a7e9a;
$color-text-green: #7bffb2;
$color-text-red: #ff4646;

$font-main: 'Poppins';
